HOST=0.0.0.0
PORT=

MONGO_URI=
MEILI_HOST=
RAG_API_URL=

DOMAIN_CLIENT=
DOMAIN_SERVER=

# 32-байтовая hex-строка
CREDS_KEY=
# 16-байтовая hex-строка
CREDS_IV=

# Включить поиск по испории Meilisearch 
SEARCH=true
# Выключить отправку аналитики в Meilisearch 
MEILI_NO_ANALYTICS=true
# 32-байтовая hex-строка
MEILI_MASTER_KEY=

# 32-байтовая hex-строка
JWT_SECRET=
JWT_REFRESH_SECRET=

# Для авторизации через логин, пароль.
ALLOW_EMAIL_LOGIN=true
# Разрешает регистрацию без администрирования.
ALLOW_REGISTRATION=true
# Включают, только если вы настроен OAuth для конкретного провайдера (Google, GitHub и т.д.)
ALLOW_SOCIAL_LOGIN=false
# Урл для openrouter
OPENROUTER_API_URL="https://openrouter.ai/api/v1"
# Убрать футер с версией Librechat
CUSTOM_FOOTER=""